* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h4, h5 {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

html {
  background-color:rgba(162, 198, 240, 0.451);
}